<h1>Todos</h1>
{{#view "Todos.createTodoView"}}
<input id="new-todo" type="text" placeholder="What to do next?" >
{{/view}}

{{#collection "Todos.todoListView"}}
  <label>
    {{#view "Todos.CheckboxView"}}
      <input class="check" type="checkbox">
    {{/view}}
  {{content.title}}
{{/collection}}
